{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
    <main class="principal">
        {% include 'galeria/partials/_menu_lateral.html' %}
        <section class="conteudo">
            <section class="imagem">
                <div class="imagem__conteudo">
                    {% if fotografia.foto == '' or fotografia.foto == null %}
                        <img class="card__imagem"
                             src="{% static '/assets/imagens/galeria/not-found.png' %}"
                             alt="Imagem não encontrada">
                    {% else %}
                        <img class="card__imagem"
                             src="{{ fotografia.foto.url }}"
                             alt="{{ fotografia.descricao }}">
                    {% endif %}
                    <div class="imagem__info">
                        <div class="imagem__texto">
                            <p class="imagem__titulo">{{ fotografia.nome }}</p>
                            <p class="imagem__descricao">{{ fotografia.legenda }}</p>
                            <p class="imagem__texto"></p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
{% endblock %}
