{% load static %}
<section class="menu-lateral">
    <nav class="menu-lateral__navegacao">
        <a href="{% url 'index' %}"><img alt="" src="{% static '/assets/icons/1x/Home - ativo.png' %}"> Home</a>
        <a href="#"><img alt="" src="{% static '/assets/icons/1x/Mais vistas - inativo.png' %}"> Mais vistas</a>
        <a href="#"><img alt="" src="{% static '/assets/icons/1x/Novas - inativo.png' %}"> Novas</a>
        <a href="#"><img alt="" src="{% static '/assets/icons/1x/Surpreenda-me - inativo.png' %}"> Surpreenda-me</a>
    </nav>
</section>
